{
    "sidebarApi": "http://{{ api_prefix }}/api/v1/apis/sidebar",
    "navbarApi": "http://{{ api_prefix }}/api/v1/apis/navbar",
    "welcomeApi": "http://{{ api_prefix }}/api/v1/apis/welcome",
    "hosts": {
        "info": "http://localhost:3000/tables"
    },
    "notification": {
        "error": "http://localhost:3000/errors"
    }
}
