{
    "sidebarApi": "http://{{ api_prefix }}/api/v1/",
    "loginApi": "http://{{ api_prefix }}/api/v1/login",
    "navbarApi": "http://{{ api_prefix }}/api/v1/",
    "hosts": {
        "info": "http://localhost:3000/tables"
    },
    "notification": {
        "error": "http://localhost:3000/errors"
    }
}
