{
    "navItems": [
        {
            "href": "#add-workflow",
            "title": "新建工作流",
            "show": true,
            "name": "workflow"
        },
        {
            "href": "#project",
            "title": "项目管理",
            "show": true,
            "name": "project"
        },
        {
            "href": "#/hosts/info",
            "title": "分析工具",
            "show": true,
            "name": "hosts"
        },
        {
            "href": "#filemgmt",
            "title": "项目文件",
            "show": true,
            "name": "filemgmt"
        },
        {
            "href": "#task",
            "title": "查看任务",
            "show": true,
            "name": "task"
        },
        {
            "href": "#results",
            "title": "查看结果",
            "show": true,
            "name": "results"
        },
        {
            "href": "#runinfo",
            "title": "查看监控",
            "show": true,
            "name": "runinfo"
        },
        {
            "href": "#help",
            "title": "项目帮助",
            "show": true,
            "name": "help"
        }
    ],
    "loginItems": [
        {
            "href": "auth/user",
            "title": "{{ user.username }}",
            "show": true,
            "name": "user"
        },
        {
            "href": "login",
            "title": "登录",
            "show": "",
            "name": "login"
        },
        {
            "href": "registry",
            "title": "注册",
            "show": "",
            "name": "registry"
        },
        {
            "href": "#logout#",
            "title": "退出",
            "show": true,
            "name": "logout"
        }
    ],
    "website": {
        "href": "http://pgx.fudan.edu.cn",
        "name": "FudanPGx",
        "copyright": "© 版权所有 2016-2017",
        "product_name": " 高性能计算平台",
        "sidebar_logo": "",
        "login_logo": "",
        "login_bg": "",
        "welcome_bg": ""
    }
}
