{
    "navItems": {
        "project": {
            "href": "#project",
            "name": "项目管理"
        },
        "workflow": {
            "href": "#add-workflow",
            "name": "新建工作流"
        },
        "task": {
            "href": "#task",
            "name": "查看任务"
        },
        "results": {
            "href": "#results",
            "name": "查看结果"
        },
        "runinfo": {
            "href": "#runinfo",
            "name": "查看监控"
        },
        "filemgmt": {
            "href": "#filemgmt",
            "name": "文件管理"
        },
        "help": {
            "href": "#help",
            "name": "帮助"
        },
        "hosts": {
            "href": "#/hosts/info",
            "name": "主机监控"
        }
    },
    "loginItems": {
        "user": {
            "href": "#/user/info",
            "name": "{{ username }}",
            "show": ""
        },
        "login": {
            "href": "#/login",
            "name": "登录",
            "show": "T"
        },
        "registry": {
            "href": "#/registry",
            "name": "注册",
            "show": "T"
        },
        "logout": {
            "href": "#/logout",
            "name": "退出",
            "show": ""
        }
    },
    "website": {
        "href": "http://www.super-san.com",
        "name": "SuperSAN"
    }
}
