{
    "navItems": [
        {
            "href": "#add-workflow",
            "title": "新建工作流",
            "show": true,
            "name": "workflow"
        },
        {
            "href": "#project",
            "title": "项目管理",
            "show": true,
            "name": "project"
        },
        {
            "href": "#task",
            "title": "查看任务",
            "show": true,
            "name": "task"
        },
        {
            "href": "#results",
            "title": "查看结果",
            "show": true,
            "name": "results"
        },
        {
            "href": "#runinfo",
            "title": "查看监控",
            "show": true,
            "name": "runinfo"
        },
        {
            "href": "#/hosts/info",
            "title": "主机监控",
            "show": true,
            "name": "hosts"
        },
        {
            "href": "#filemgmt",
            "title": "文件管理",
            "show": true,
            "name": "filemgmt"
        },
        {
            "href": "#help",
            "title": "帮助",
            "show": true,
            "name": "help"
        }
    ],
    "loginItems": [
        {
            "href": "auth/user",
            "title": "{{ user.username }}",
            "show": true,
            "name": "user"
        },
        {
            "href": "login",
            "title": "登录",
            "show": "",
            "name": "login"
        },
        {
            "href": "registry",
            "title": "注册",
            "show": "",
            "name": "registry"
        },
        {
            "href": "#logout#",
            "title": "退出",
            "show": true,
            "name": "logout"
        }
    ],
    "website": {
        "href": "http://www.super-san.com",
        "name": "SuperSAN"
    }
}
