{
    "dashboard": {
        "link": "/dashboard",
        "title": "Dashboard",
        "id": 1
    },
    "treeitems": {
        "系统部署": {
            "link": "",
            "title": "系统部署",
            "id": 3,
            "secondmenus": {
                "配置与定义": {
                    "link": "",
                    "title": "配置与定义",
                    "id": 5,
                    "thirdmenus": {
                        "Distros": {
                            "link": "javascript:loadurl('/sscobbler/distro/list')",
                            "title": "Distros",
                            "id": 6
                        },
                        "Profiles": {
                            "link": "Profiles",
                            "title": "javascript:loadurl('/sscobbler/profile/list')",
                            "id": 7
                        },
                        "操作系统": {
                            "link": "javascript:loadurl('/sscobbler/system/list')",
                            "title": "操作系统",
                            "id": 8
                        },
                        "软件仓库": {
                            "link": "javascript:loadurl('/sscobbler/repo/list')",
                            "title": "软件仓库",
                            "id": 9
                        },
                        "系统镜像": {
                            "link": "javascript:loadurl('/sscobbler/image/list')",
                            "title": "系统镜像",
                            "id": 10
                        },
                        "自动安装模板": {
                            "link": "javascript:loadurl('/sscobbler/aifile/list')",
                            "title": "自动安装模板",
                            "id": 11
                        },
                        "自动安装Snippets": {
                            "link": "javascript:loadurl('/sscobbler/snippet/list')",
                            "title": "自动安装Snippets",
                            "id": 12
                        },
                        "管理类": {
                            "link": "javascript:loadurl('/sscobbler/mgmtclass/list')",
                            "title": "管理类",
                            "id": 13
                        },
                        "配置": {
                            "link": "javascript:loadurl('/sscobbler/setting/list')",
                            "title": "配置",
                            "id": 14
                        }
                    }
                },
                "资源": {
                    "link": "",
                    "title": "资源",
                    "id": 15,
                    "thirdmenus": {
                        "Packages": {
                            "link": "javascript:loadurl('/sscobbler/package/list')",
                            "title": "Packages",
                            "id": 16
                        },
                        "Files": {
                            "link": "javascript:loadurl('/sscobbler/file/list')",
                            "title": "Files",
                            "id": 17
                        }
                    }
                },
                "动作": {
                    "link": "",
                    "title": "动作",
                    "id": 18,
                    "thirdmenus": {
                        "部署系统同步": {
                            "link": "javascript:menuaction('/sscobbler/sync');",
                            "title": "部署系统同步",
                            "id": 19
                        },
                        "软件仓库同步": {
                            "link": "javascript:menuaction('/sscobbler/reposync');",
                            "title": "软件仓库同步",
                            "id": 20
                        },
                        "HardLink": {
                            "link": "javascript:menuaction('/sscobbler/hardlink');",
                            "title": "HardLink",
                            "id": 21
                        },
                        "构建ISO": {
                            "link": "javascript:menuaction('/sscobbler/buildiso');",
                            "title": "构建ISO",
                            "id": 22
                        }
                    }
                },
                "其它": {
                    "link": "",
                    "title": "其它",
                    "id": 23,
                    "thirdmenus": {
                        "检测": {
                            "link": "javascript:loadurl('/sscobbler/check')",
                            "title": "检测",
                            "id": 24
                        },
                        "事件": {
                            "link": "javascript:loadurl('/sscobbler/events')",
                            "title": "事件",
                            "id": 25
                        }
                    }
                }
            }
        },
        "软件与服务": {
            "link": "",
            "title": "软件与服务",
            "id": 26,
            "secondmenus": {
                "软件安装": {
                    "link": "",
                    "title": "软件安装",
                    "id": 27
                },
                "服务部署": {
                    "link": "",
                    "title": "服务部署",
                    "id": 28
                },
                "主机信息": {
                    "link": "",
                    "title": "主机信息",
                    "id": 29
                },
                "其它": {
                    "link": "",
                    "title": "其它",
                    "id": 30
                }
            }
        },
        "监控管理": {
            "link": "",
            "title": "监控管理",
            "id": 31,
            "secondmenus": {
                "主机监控": {
                    "link": "#/hosts/info",
                    "title": "主机监控",
                    "id": 32
                },
                "网络监控": {
                    "link": "",
                    "title": "网络监控",
                    "id": 33,
                    "thirdmenus": {
                        "交换机": {
                            "link": "",
                            "title": "交换机",
                            "id": 34
                        },
                        "路由器": {
                            "link": "",
                            "title": "路由器",
                            "id": 35
                        },
                        "IB交换机": {
                            "link": "",
                            "title": "IB交换机",
                            "id": 36
                        }
                    }
                },
                "事件": {
                    "link": "",
                    "title": "事件",
                    "id": 37
                },
                "其它": {
                    "link": "",
                    "title": "其它",
                    "id": 38
                }
            }
        },
        "使用指南": {
            "link": "",
            "title": "使用指南",
            "id": 39
        },
        "错误": {
            "link": "#/notification/errors",
            "title": "错误",
            "id": 40
        },
        "警告": {
            "link": "",
            "title": "警告",
            "id": 41
        },
        "信息": {
            "link": "",
            "title": "信息",
            "id": 42
        }
    }
}
