{
    "company_link": "http://pgx.fudan.edu.cn",
    "logo": "http://{{ api_prefix }}/static/images/logo-sscobble.png",
    "welcome": "欢迎使用",
    "production_link": "http://super-san.com/pro.asp?classid=7",
    "company_name": "PGx",
    "production_name": "高性能集群监控部署平台"
}
