{
    "company_link": "http://super-san.com/index.asp",
    "logo": "http://{{ api_prefix }}/static/images/logo-sscobbler.png",
    "welcome": "欢迎使用",
    "production_link": "http://super-san.com/pro.asp?classid=7",
    "company_name": "超存",
    "production_name": "vHPC自动化部署平台"
}
