{% extends "master.tmpl" %}

{% block welcome %}

<div id="welcome" class="welcome">
{% load static %}
<a href="{{ interface.website }}"><img src="{% static interface.logo %}" /></a>
{{ interface.welcome }}<a href="{{ interface.production_link }}">{{ interface.company_name }}{{ interface.production_name }}</a>
</div>

<script type="text/javascript">
    jQuery('#content').css("display","none")
</script>
{% endblock %}

