{% if not editable %}
<blockquote>
  NOTE: You do not have permission to make changes to this
  automatic installation template and can only read it.  It is possible
  that other SSCOP users has secured permissions on SSCOP
  profiles/systems that depend on this template -- changing this
  template would ultimately affect those profile/system records which
  you do not have access to.  Alternatively, you may not have access
  to edit *any* automatic installation templates.  Contact your SSCOP
  server administrator if you need to resolve this.
</blockquote>
<br />
{% else %}
<h1>{% ifequal editmode 'edit' %}{{ interface.editing }}{% else %}{{ interface.adding}}{% endifequal %}{{ interface.auto_installation_templ }}</h1>
<hr />
<script type="text/javascript">
  $('#aiform').on('submit', function(e){
    e.preventDefault();
    $.ajax({
      type: $(this).attr('method'),
      url: $(this).attr('action'),
      data: $(this).serialize(),
      success: function(data){
        if( data.status && data.url ) {
          loadurl(data.url)
        }
      }
    });
  });
</script>
<form id="aiform" method="post" action="/sscobbler/aifile/save">
  {% csrf_token %}
  <ol>
    <li>
<label for="aidata">{% if aifile_name %}{{ interface.template_label }}: {{ aifile_name }}{% else %}{{ interface.filename_label }}:{% endif %}</label>
<!-- Hold the template file name for the following request -->
<input type="hidden" id='template_file_name' value="{{ snippet_name }}" />
  {% ifnotequal editmode 'edit' %}
      <input type="text" name="aifile_name" id="aifile_name" />
      <span class="context-tip">{{ interface.snippet_example_msg }}autoinstall_templates/)</span>
  {% else %}
      <input type="hidden" name="aifile_name" value="{{ aifile_name }}" />
  {% endifnotequal %}
    </li>
    <li>
      <pre><textarea name="aidata" id="aidata">{{ aidata }}</textarea></pre>
    </li>
  {% if deleteable %}
    <li>
      <input type="checkbox" name="delete1" value="delete1" />
      <label class="delete" for="delete1">{{ interface.delete | title }}</label>
      <br>
      <input type="checkbox" name="delete2" value="delete2" />
      <label class="delete" for="delete2">{{ interface.really }}</label>
      <span class="context-tip">Check both buttons and click save to delete this object</span>
    </li>
  {% else %}
    {% ifequal editmode "edit" %}
    <li>
      <span class="warn">{{ interface.in_use_warning }}</span>
    </li>
    {% endifequal %}
  {% endif %}
  {% if editable %}
    <li>
      <input type="hidden" name="editmode" value="{{ editmode }}" />
      <input class="button" type="submit" name="submit" value="{{ interface.save | title }}" />
      <input class="button" type="reset" name="reset" value="{{ interface.reset }}" />
    </li>
  {% endif %}
  </ol>
</form>
{% endif %}
