{% extends "master.tmpl" %}

{% block welcome %}

{% load static %}
<div id="welcome" class="welcome">
<img src="{% static 'sscobbler/logo-sscobbler.png' %}" />
欢迎使用<a href="http://super-san.com/index.asp">SuperSAN</a> vHPC自动化部署与数据分析平台
</div>

<script type="text/javascript">
    jQuery('#content').css("display","none")
</script>
{% endblock %}

