{
    {% if company_name == 'Nordata' %}
    "navItems": [
        {
            "href": "#add-workflow",
            "title": "新建工作流",
            "show": true,
            "name": "workflow",
            "focus": false
        },
        {
            "href": "#project",
            "title": "项目管理",
            "show": true,
            "name": "project",
            "focus": false
        },
        {
            "href": "#/hosts/info",
            "title": "分析工具",
            "show": true,
            "name": "hosts",
            "focus": false
        },
        {
            "href": "#filemgmt",
            "title": "项目文件",
            "show": true,
            "name": "filemgmt",
            "focus": false
        },
        {
            "href": "#task",
            "title": "查看任务",
            "show": true,
            "name": "task",
            "focus": false
        },
        {
            "href": "#results",
            "title": "查看结果",
            "show": true,
            "name": "results",
            "focus": false
        },
        {
            "href": "#runinfo",
            "title": "查看监控",
            "show": true,
            "name": "runinfo",
            "focus": false
        },
        {
            "href": "#help",
            "title": "项目帮助",
            "show": true,
            "name": "help",
            "focus": false
        }
    ],
    {% elif company_name == 'SuperSAN' %}
        {% if query_arg == 'advisor' %}
        "navItems": [
            {
                "href": "#add-workflow",
                "title": "新建工作流",
                "show": true,
                "name": "workflow",
                "focus": true
            }
        ],
        {% elif query_arg == 'cobbler' %}
        "navItems": [
            {
                "href": "#add-workflow",
                "title": "安装系统",
                "show": true,
                "name": "install-os",
                "focus": true
            },
            {
                "href": "#add-workflow",
                "title": "部署集群",
                "show": true,
                "name": "deploy-hpc",
                "focus": false
            },
            {
                "href": "#add-workflow",
                "title": "部署服务",
                "show": true,
                "name": "deploy-service",
                "focus": false
            }
        ],
        {% elif query_arg == 'hostmgt' %}
        "navItems": [],
        {% elif query_arg == 'nagios' %}
        "navItems": [],
        {% elif query_arg == 'ganglia' %}
        "navItems": [
            {
                "href": "#add-workflow",
                "title": "主机监控",
                "show": true,
                "name": "host-monitor",
                "focus": true
            },
            {
                "href": "#add-workflow",
                "title": "网络监控",
                "show": true,
                "name": "network-monitor",
                "focus": false
            },
            {
                "href": "#add-workflow",
                "title": "存储监控",
                "show": true,
                "name": "storage-monitor",
                "focus": false
            }
        ],
        {% elif query_arg == 'dashboard' %}
        "navItems": [
            {
                "href": "#summary",
                "title": "概览",
                "show": true,
                "name": "summary",
                "focus": true
            },
            {
                "href": "#host-monitor",
                "title": "主机监控",
                "show": true,
                "name": "host-monitor",
                "focus": false
            },
            {
                "href": "#storage-monitor",
                "title": "存储监控",
                "show": true,
                "name": "storage-monitor",
                "focus": false
            },
            {
                "href": "#job-stat",
                "title": "作业统计",
                "show": true,
                "name": "job-stat",
                "focus": false
            },
            {
                "href": "#cluster-info",
                "title": "集群监控",
                "show": true,
                "name": "cluster-info",
                "focus": false
            },
            {
                "href": "#network-monitor",
                "title": "网络监控",
                "show": true,
                "name": "network-monitor",
                "focus": false
            }
        ],
        {% elif query_arg == 'spider' %}
        "navItems": [],
        {% elif query_arg == '' %}
        "navItems": [],
        {% endif %}
    {% endif %}
    "loginItems": [
        {
            "href": "auth/user",
            "title": "{{ user.username }}",
            "show": true,
            "name": "user"
        },
        {
            "href": "login",
            "title": "登录",
            "show": "",
            "name": "login"
        },
        {
            "href": "registry",
            "title": "注册",
            "show": "",
            "name": "registry"
        },
        {
            "href": "#logout#",
            "title": "退出",
            "show": true,
            "name": "logout"
        }
    ],
    "website": {
        "href": "http://supersan.cn/",
        "name": "SuperSAN",
        "copyright": "© 版权所有 2015-2018",
        "product_name": " 高性能计算平台vHPC",
        "sidebar_logo": "",
        "login_logo": "http://otrzov9qv.bkt.clouddn.com/supersan-logo.png",
        "login_bg": "",
        "welcome_bg": ""
    }
}
