<h1>{{ eventid }} : {{ eventname }} :: {{ eventstate }}</h1>
<hr />
<pre>
<textarea readonly rows="40" cols="120" name="eventlog" id="eventlog">
{{ eventlog }}
</textarea>
</pre>
<br />
<a href="javascript:loadurl('/sscobbler/eventlog/{{ eventid }}')">{{ interface.refresh_log }}</a>