{% load site %}

<form id="action" method="POST" action="">{% csrf_token %}</form>
<script type="text/javascript">
function items_check_all(){
    var checkall = document.getElementById("itemsall").checked
    var items    = document.getElementsByName("items")
    for(i=0; i<items.length; ++i) {
        items[i].checked=checkall;
        items_check(items[i])
    }
}

function items_check(obj) {
    obj.parentNode.parentNode.className=(obj.checked)? 'selected' : '';
}

function items_checked_values() {
    var items = document.getElementsByName("items")
    var values = new Array();
    for(i=0; i<items.length; ++i) {
        if (items[i].checked) {
            values.push(items[i].value)
        }
    }
    s = values.join(" ")
    return s;
}

function obj_rename(old) {
    // var newname = window.prompt("Change {{ what }} name to?",old);
    var newname = window.prompt("修改{{ what }}的名称?", old);
    if (newname) {
        document.forms["action"].action = "/sscobbler/{{ what }}/rename/" + old + "/" + newname;
        // document.forms["action"].submit();
    }
}
function obj_copy(old) {
    // var newname = window.prompt("Name for the new {{ what }}?",old);
    var newname = window.prompt("新{{ what }}的名称?",old);
    if (newname != null) {
        document.forms["action"].action = "/sscobbler/{{ what }}/copy/" + old + "/" + newname;
        // document.forms["action"].submit();
    }
}

function action(otype) {
    sel_action = document.getElementById("actions").value
    what   = sel_action.split("|")[0]
    action = sel_action.split("|")[1]
    document.location = "/sscobbler/" + what + "/" + action
}

function action_sort(value) {
    document.forms["action"].action = '/sscobbler/{{ what }}/modifylist/sort/' + value;
    // document.forms["action"].submit();
}

function action_multi(otype) {
    var values = items_checked_values()
    if (values == "") {
       return
    }
    document.getElementById("names").value = values

    sel_batchaction = document.getElementById("batchactions").value
    action = sel_batchaction.split("|")[0]
    param  = sel_batchaction.split("|")[1]

    if (action == "profile") {
       $('#batchprofiledlg').dialog({
          // title: "New installation profile name for checked systems?",
          title: "为所有Systems添加此Profile?",
          width: 450,
          height: 150,
          buttons: {
             "Go": function() {
                param = $('#batchprofileslct').val();
                value = 1;
                document.myform.action = "/sscobbler/" + otype + "/multi/" + action + "/" + param;
                // document.myform.submit();
             },
             "Cancel": function() { 
                $('#batchprofiledlg').dialog('close');
             }
         }
    });
           return;
    }
    else {
        value = null
    }
    if ((action == "power") && (param == "on")) {
        value = confirm("Confirm: Really power up all checked systems?")
    }
    if ((action == "power") && (param == "off")) {
        value = confirm("Confirm: Really power down all checked systems?")
    }
    if ((action == "power") && (param == "reboot")) {
        value = confirm("Confirm: Really reboot all checked systems?")
    }
    if ((action == "netboot") && (param == "enable")) {
        value = confirm("Confirm: Really flag all checked systems for PXE reinstallation?")
    }
    if ((action == "netboot") && (param == "disable")) {
        value = confirm("Confirm: Really disable all checked systems for PXE reinstallation?")
    }
    if ((action == "delete" ) && (param == "delete")) {
        // $('#dialog-batch' ).dialog( 'open' )
        open_batch_dialog()
        return;
    }
    if ((action == "buildiso" ) && (param == "enable")) {
        value = confirm("Confirm: Really buildiso for all checked " + otype + "?" )
    }
    if ((action == "reposync")) {
        value = "reposync"
    }

    if (value) {
        document.myform.action = "/sscobbler/" + otype + "/multi/" + action + "/" + param
        // document.myform.submit()
    }
    else {
        alert("Operation aborted.")
    }
}

function open_dialog(item_name, what) {
  $( "#dialog" ).dialog( {
    autoOpen: true,
    // modal: true,
    height: 160,
    width: 330,
    buttons: {
      "OK": function() {
          // aother way to get {{what}} value
          // var what = $("#edit_action").attr("href").split("/")[2];
          var url = "/sscobbler/" + what + "/delete/"
          // get item's name
          // check if it's to be deleted recursively or not
          if ($("#recursive_delete").is(':checked')){
            var recursive = true
          } else {
            var recursive = false
          }
          var new_input = document.createElement('input');
          new_input.name = "recursive";
          new_input.value = recursive;
          new_input.style.display = 'none';
          document.forms['action'].appendChild(new_input);
          document.forms['action'].action = url + item_name;
          // document.forms["action"].submit();
          $.ajax({
            type: $('#action').attr('method'),
            url: $('#action').attr('action'),
            data: $('#action').serialize(),
            success: function(data){
              if( data.status && data.url ) {
                loadurl(data.url)
              }
            }
          });
          $(this).dialog('destroy').remove();
      },
      "Cancel": function() {$( this ).dialog("destroy").remove();}
    }
  });
}

function open_batch_dialog() {
  $( "#dialog-batch" ).dialog( {
    autoOpen: true,
    // modal: true,
    height: 160,
    width: 370,
    buttons: {
      "OK": function() {
          // check if the selected items are to be deleted recursively or not
          if ($("#recursive_delete").is(':checked')){
            var recursive = true
          } else {
            var recursive = false
          }
          var what = $("#edit_action").attr("href").split("/")[2];
          var new_input = document.createElement('input');
          new_input.name = "recursive_batch";
          new_input.value = recursive;
          new_input.style.display = 'none';
          // document.myform.appendChild(new_input);
          // document.myform.action = "/sscobbler/{{ what }}/multi/delete/delete";
          // document.myform.submit();
          document.myform.appendChild(new_input);
          document.myform.action = "/sscobbler/{{ what }}/multi/delete/delete";
          $.ajax({
            type: $('#myform').attr('method'),
            url: $('#myform').attr('action'),
            data: $("#myform").serialize(),
            success: function(data){
              if( data.status && data.url ) {
                loadurl(data.url)
              }
            }
          });
          $(this).dialog('destroy').remove();
      },
      "Cancel": function() {$( this ).dialog("destroy").remove();}
    }
  });
}

</script>

<div id="dialog" style="display: none">
  {% if what == "mgmtclass" %}
  <!--   <p>确定删除这个管理类?</p> -->
  <p>确定删除这个管理类?</p>
  {% else %}
  <!-- <p>Are you sure you want to delete this {{ what }}?</p> -->
  <p>确定删除{{what|title}}?</p>
  {% endif %}
  <table style="margin-top: 10px">
  <tbody>
    <tr>
      <td style="width: 25px"><input type="checkbox" id="recursive_delete" style="margin-right: 5px"/></td>
      <td><label style="font-weight: normal">递归？</label></td>
    </tr>
  </tbody>
  </table>
</div>

<div id="dialog-batch" style="display: none">
  {% if what == "mgmtclass" %}
  <!-- <p>Are you sure you want to delete all selected management classes?</p> -->
  <p>确定删除所有管理类?</p>
  {% else %}
  <!-- <p>Are you sure you want to delete all selected {{ what }}s?</p> -->
  <p>确定删除所有选择的{{what|title}}s?</p>
  {% endif %}
  <table style="margin-top: 10px">
  <tbody>
    <tr>
      <td style="width: 25px"><input type="checkbox" id="recursive_delete_batch" style="margin-right: 5px"/></td>
      <!-- <td><label style="font-weight: normal">Recursive</label></td> -->
      <td><label style="font-weight: normal">递归删除？</label></td>
    </tr>
  </tbody>
  </table>
</div>

<div id="batchprofiledlg" style='display:none'>
  <select id="batchprofileslct">
    <!-- <option value="" selected="selected">Choose Profile</option> -->
    <option value="" selected="selected">选择Profile</option>
    {% for profile in profiles %}<option value="{{ profile.name }}">{{ profile.name }}</option>{% endfor %}</option>
  </select>
</div>

<h1>{{ what|title }}s</h1>
<hr />
<ul id="submenubar">
  <li>
    <!-- <a class="action" href="/sscobbler/{{what}}/edit">Create new {{ what }}</a> -->
    <a class="action" href="javascript:loadurl('/sscobbler/{{what}}/edit')">{{ interface.create_new }}{{ what }}</a>
    <!-- {% ifequal what "profile" %}<a class="action" href="/sscobbler/sub{{what}}/edit">Create new sub-{{ what }}</a>{% endifequal %} -->
    {% ifequal what "profile" %}<a class="action" href="javascript:loadurl('/sscobbler/sub{{what}}/edit')">{{ interface.create_new_sub }}{{ what }}</a>{% endifequal %}
  </li>
  <li>
    <select id="batchactions">
      <!-- <option value="" selected="selected">Batch Actions</option> -->
      <option value="" selected="selected">{{ interface.batch_actions }}</option>
      {% for title,action,value in batchactions %}<option value="{{ action }}|{{ value }}">{{ title }}</option>{% endfor %}
    </select>
<!--     <input class="button" type="button" value="go" onclick="javascript:action_multi('{{ what }}')" /> -->
    <input class="button" type="submit" value="Go" onclick="javascript:action_multi('{{ what }}')" />
  </li>
  {% include "paginate.tmpl" %}
</ul>

<!-- Catch the submit event and get data by ajax -->
<script type="text/javascript">
  $('#myform').on('submit', function(e){
      e.preventDefault();
      $.ajax({
          type: $(this).attr('method'),
          url: $(this).attr('action'),
          data: $(this).serialize(),
          success: function(data){
              if( data.status && data.url ) {
                loadurl(data.url)
              } else {
                loadurl(url)
              }
          }
      });
  })

  $('#action').on('submit', function(e){
    e.preventDefault();
    $.ajax({
      type: $(this).attr('method'),
      url: $(this).attr('action'),
      data: $(this).serialize(),
      success: function(data){
        if( data.status && data.url ) {
          loadurl(data.url)
        }
      }
    });
  });

</script>

<form name="myform" id="myform" method="post" action="/sscobbler/{{ what }}/action">
  {% csrf_token %}
  <table id="listitems" cellspacing="0">
    <thead>
      <tr>
        <th>
          <input type="checkbox" id="itemsall" onclick="javascript:items_check_all();" />
        </th>
{% for value in columns %}
        <th>
          <input type="submit" class="link" form="action" onclick="javascript:action_sort('{{ value.0 }}');" value="{{ value.0|title }}"/>
          <!-- <a href="javascript:action_sort('{{ value.0 }}');">{{ value.0|title }}</a> -->
  {% ifequal value.1 "asc" %}
          &darr;
  {% endifequal %}
  {% ifequal value.1 "desc" %}
          &uarr;
  {% endifequal %}
        </th>
{% endfor %}
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
{% for item in items %}
      <tr class="{% cycle 'rowodd' 'roweven' %}">
        <td><input type="checkbox" name="items" value="{{ item.0.1 }}" onclick="javascript:items_check(this);" /></td>
  {% for value in item %}
        <td>
    {% ifequal value.0 "name" %}
          <a href="javascript:loadurl('/sscobbler/{{ what }}/edit/{{ value.1 }}')">{{ value.1 }}</a>
    {% endifequal %}
    {% ifequal value.2 "editlink" %}
      {% ifnotequal value.1 "~" %}
          <a href="javascript:loadurl('/sscobbler/{{ value.0 }}/edit/{{ value.1 }}')">{{ value.1 }}</a>
      {% endifnotequal %}
    {% endifequal %}
    {% ifequal value.2 "checkbox" %}
      {% ifequal value.1 1 %}
          <input type="checkbox" name="{{ item.name }}" id="{{ item.name }}" value="{{ item.name }}" disabled="disabled" checked="checked" />
      {% else %}
          <input type="checkbox" name="{{ item.name }}" id="{{ item.name }}" value="{{ item.name }}" disabled="disabled" />
      {% endifequal %}
    {% endifequal %}
    {% ifequal value.2 "text" %}
          {{ value.1 }}
    {% endifequal %}
        </td>
  {% endfor %}
        <td>
          <!-- <a class="action" href="/sscobbler/{{ what }}/edit/{{ item.0.1 }}">Edit</a> -->
          <a class="action" id="edit_action" href="javascript:loadurl('/sscobbler/{{ what }}/edit/{{ item.0.1 }}')">{{ interface.edit }}</a>
          <!-- <span class="action" onClick="javascript:obj_copy('{{ item.0.1 }}')">Copy</span>  -->
          <input class="action" type="submit" form="action" onClick="javascript:obj_copy('{{ item.0.1 }}')" value="{{ interface.copy }}"/>
          <!-- <span class="action" onClick="javascript:obj_rename('{{ item.0.1 }}')">Rename</span> --> 
          <input class="action" type="submit" form="action" onClick="javascript:obj_rename('{{ item.0.1 }}')" value="{{ interface.rename }}"/>
          <!-- <span class="action" onClick="javascript:$('#dialog' ).data('name', '{{ item.0.1 }}').dialog( 'open' )">Delete</span> -->
          <!-- <input class="action" type="submit" form="action" onClick="javascript:$('#dialog').data('name', '{{ item.0.1 }}').dialog('open')" value="{{ interface.delete }}"/> -->
          <input class="action" type="submit" form="action" onClick="javascript:open_dialog('{{item.0.1}}', '{{what}}')" value="{{ interface.delete }}"/>
  {% ifequal what "system" %}
          <!-- <span class="action" onClick="window.location='/cblr/svc/op/autoinstall/system/{{ item.0.1 }}'">View automatic installation template</span> -->
          <span class="action" onClick="window.location='http://{{ interface.ip_address }}/cblr/svc/op/autoinstall/system/{{ item.0.1 }}'">{{ interface.view_auto_install_templ }}</span>
  {% endifequal %}
  {% ifequal what "profile" %}
          <!-- <span class="action" onClick="window.location='/cblr/svc/op/autoinstall/profile/{{ item.0.1 }}'">View automatic installation template</span> -->
          <span class="action" onClick="window.location='http://{{ interface.ip_address }}/cblr/svc/op/autoinstall/profile/{{ item.0.1 }}'">{{ interface.view_auto_install_templ }}</span>
  {% endifequal %}
        </td>
      </tr>
{% endfor %}
    </tbody>
  </table>
  <input type="hidden" name="names" id="names" value=""/>
</form>
{% include "filter.tmpl" %}
